*,::after,::before {
    margin: 0;
    padding: 0;
    /* border: none; */
    box-sizing: border-box;
    color: white;
    background-color: hsl(216, 5%, 21%);
}
html, body { 
    height: 100%; 
}

#heading{
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
}

#count_Tag{
    margin: 1em 1em;
    text-align: center;
    font-size: 2rem;
}

#text_cointainer{
    margin: 2em 1em;
    display: flex;
    justify-content: center;
    height: 50%;
}


#paragraph {
    padding: 1em;
    width: 100%;
    font-size: 1.52em;
}

#paragraph::placeholder{
    text-align: center;
    font-size: 2em;
}
